<h1> Heading 1 </h1> 
<h2> Heading 2 </h2>
<h3> Heading 3 </h3>
<p> Paragraph </p>
<ul> 
	<li>List Item</li>
	<li>List Item</li>
</ul>
<ol>
	<li>List Item</li>
	<li>List Item
		<ol>
			<li>Sub List Item</li>
			<li>Sub List Item</li>
			<li>Sub List Item</li>
			<li>Sub List Item</li>
		</ol>
	</li>
</ol>
<%= image_tag "AppleBlossoms.jpg", :alt=>"A beautiful branch of apple blossoms" %>


